@model AutoStore.Domain.Entities.Cart


<div class="navbar-right">
    @Html.ActionLink("To order", "Index", "Cart", new { returnUrl=Request.Url.PathAndQuery},
                                                  new { @class="btn btn-default navbar-btn"})
</div>

<div class="navbar-text navbar-right">
    <b>Your cart:</b>
    @Model.cartLines.Sum(x=>x.Quantity) auto,
    @Model.SumTovar().ToString("# ₽")
</div>