@using AutoStore.WebUI.Models
@model AutoPagingListView

@{ 
    ViewBag.Title = "Goods";
}


@foreach (var p in @Model.Autos)
{
    @Html.Partial("AutoCatalog",p)
}
<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x=>Url.Action("List", new { page=x,category=Model.CurrentCategory}))
</div>